<div class="container-fluid">
  <div class="row main-img">
    <h5 class="main-left"><a href="#">English Premier League</a></h5>
    <div class="left-bottom-main">
      <p><a href="#">Jordan Henderson, Trent Alexander-Arnold and Sadio Mane among Player of the Season nominees</a></p>
    </div>
  </div>
  <div class="row the-articles">
    <div class="col first-col">
      <h5 class="left-top"><a href="#">La Liga</a></h5>
      <div class="left-bottom">
        <p><a href="#">The Campeonato Nacional de Liga de Primera División</a></p>
      </div>
    </div>
    <div class="col second-col">
      <h5 class="left-top"><a href="#">Seria A</a></h5>
      <div class="left-bottom">
        <p><a href="#">Serie A still attracts investors despite decline</a></p>
      </div>
    </div>
    <div class="col third-col">
      <h5 class="left-top"><a href="#">Bundesliga</a></h5>
      <div class="left-bottom">
        <p><a href="#">Dortmund chief expects Utd target Sancho to stay</a></p>
      </div>
    </div>
    <div class="col fourth-col">
      <h5 class="left-top"><a href="#">Others</a></h5>
      <div class="left-bottom">
        <p><a href="#">Robin van Persie returns to Feyenoord as coach</a></p>
      </div>
    </div>
  </div>
</div>
