<div class="row main-img">

</div>
<div class="row the-articles">
  <div class="col first-col">1</div>
  <div class="col second-col">2</div>
  <div class="col third-col">3</div>
  <div class="col fourth-col">4</div>
</div>
