@import 'bootstrap/dist/css/bootstrap';

body {
  width: 100%;
  margin: auto;
}

* {
  box-sizing: border-box;
}

.navbar {
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 3px solid #ED5E36;
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: -1px;
  padding-right: 100px;
}

.main-img {
  min-height: 70vh;
  background-image: url(premier.jpg);
}

.main-left {
  position: absolute;
  top: 550px;
  left: 20px;
  font-weight: bold;
}

.main-left a {
  color: #ED5E36;
}

.the-articles {
  min-height: 250px;
}

.main-img,
.first-col,
.second-col,
.third-col,
.fourth-col {
  background-size: cover;
  background-repeat: no-repeat;
}

.first-col {
  background-image: url(laliga.jpg);
}

.second-col {
  background-image: url(seria_a.jpg);
}

.third-col {
  background-image: url(bundasliga.jpg);
}

.fourth-col {
  background-image: url(others.gif);
}

.left-bottom-main {
  position: absolute;
  top: 580px;
  left: 20px;
  font-weight: bold;
}

.left-top {
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
}

.left-bottom {
  position: absolute;
  top: 200px;
  left: 20px;
  font-weight: bold;
}

.left-bottom-main a,
.left-top a,
.left-bottom a {
  color: #fff;
  text-decoration: none;
}

.push {
  height: 60px;
}

.text-link {
  color: #ED5E36;
  font-weight: bold;
}

.article-body {
  background-image: url(soccer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 87vh;
}

.article-body1 {
  // background-image: url(bundasliga.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  height: 87vh;
  // -webkit-filter: grayscale(100%);
  // filter: grayscale(100%);
  background-color: #4e443f;
  opacity: 50%;
}

.form-body {
  padding-top: 150px;
}

.article-img {
  object-fit: cover;
  height: 60vh;
  width: 840px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 35px;
  padding-top: 10px;
  border-top: 1px solid #ED5E36;
  background-color: #4e443f;
  color: #777;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style-type: none;
}

.footer ul li {
  padding-left: 5px;
}

.fa {
  color: #ED5E36;
}
