<div class="push">
  <div class="footer">
    <p><b>toPEleaGue</b></p>
    <small>
      Copyright &copy; <a href="https://github.com/jstloyal"> toPEleaGue 2020</a>
      By <a href="https://twitter.com/jstloyalTY">Adetayo Sunkanmi</a>
    </small>
    <nav>
      <ul class="d-flex">
        <li><%= link_to 'Contact:', '#' %></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram "></i></a></li>
      </ul>
    </nav>
  </div>
</div>
