<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">toPEleaGue</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">PREMIER LEAGUE <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SERIA A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LA LIGA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BUNDESLIGA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">OTHERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">OPINION</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item user-name">
        <a class="nav-link">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Login</a>
      </li>
    </ul>
  </div>
</nav>
